<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_FxI8fxak3cpMOuS6XBVXtUgUUwO7nj0</string>
	<key>GCM_SENDER_ID</key>
	<string>709959871971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.etherApp</string>
	<key>PROJECT_ID</key>
	<string>ether-app---reddit-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>ether-app---reddit-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709959871971:ios:612472f23c9ed6785c84d6</string>
</dict>
</plist>